@import url("../../global/index.css");

.body {
	font-family: Arial, sans-serif;
	background-color: var(--bg-color);
	padding: 20px;
}

.container {
	max-width: 600px;
	margin: auto;
	background: var(--primary-color);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 5px var(--shadow-color);
}

.title {
	font-size: 24px;
	color: var(--on-primary-color);
}

.link-to-main-page {
	color: var(--on-surface-color);
}

.container__total-score {
	font-size: 20px;
	margin-top: 10px;
}

.results {
	padding: 10px;
	margin-block: 10px;
	list-style: none;
	overflow-x: auto;
	display: flex;
	gap: 10px;
}

.results.pink {
	background-color: var(--light-pink-color);
}
