.search-form {
	display: flex;
	flex-flow: nowrap;
	align-items: center;
	gap: var(--spacing-md);
}

.search-form__input {
	display: block;
	width: 100%;
	padding: var(--spacing-sm) var(--spacing-sm);
	line-height: var(--font-size-lg);
	border-radius: var(--spacing-sm);
}
