.dashboard__table-wrapper {
	width: 100%;
	height: 150px;
}

.dashboard__pagination-controls {
	display: flex;
	justify-content: flex-end;
	gap: var(--spacing-sm);
}

.pagination-controls__navigation-button {
	background-color: var(--primary-light-color);
	border-radius: var(--spacing-sm);
	padding: var(--spacing-sm) 0;
}

.pagination-controls__navigation-button:not([disabled]):hover {
	/* Use variable */
	background-color: #9e9e9e33;
}

.pagination-controls__navigation-button[disabled] {
	/* Use variable */
	color: #00000042;
	background-color: transparent;
}

.mat-header-cell .mat-cell {
	padding: var(--spacing-md);
	display: flex;
	align-items: center;
	height: 100%;
}

.table__item-image {
	width: 150px;
	height: 150px;
	object-fit: contain;
	margin-right: var(--spacing-sm);
}

.table__image-container {
	width: 150px;
}
