<div class="anime-table-container">
	@if(animeListPagination$ | async; as animeList){
	<div class="anime-table__header">
		<camp-search></camp-search>
		<camp-filter-type class="anime-table__filter-type"></camp-filter-type>
		<mat-paginator
			class="anime-table__paginator"
			[pageSizeOptions]="[5, 10, 20]"
			[length]="animeList.totalCount"
			[pageIndex]="pageSubject$.value.pageIndex"
			[pageSize]="pageSubject$.value.pageSize"
			(page)="getPaginatorData($event)"
		></mat-paginator>
	</div>
	<div>
		<table
			mat-table
			matSort
			matSortDisableClear
			(matSortChange)="sortData($event)"
			[matSortActive]="sortActive"
			[matSortDirection]="sortDirection"
			[dataSource]="animeList.items"
			class="anime-table-wrapper"
		>
			<ng-container class="table__image-container" [matColumnDef]="animeTableColumns.IMAGE">
				<mat-header-cell class="anime-table__item anime-table__item--textColor" *matHeaderCellDef>
					Image
				</mat-header-cell>
				<mat-cell class="anime-table__item anime-table__item--textColor" *matCellDef="let element">
					<div>
						<img [src]="element.imageUrl" alt="{{ element.titleJapan }}" class="table__item-image" />
					</div>
				</mat-cell>
			</ng-container>
			<ng-container [matColumnDef]="animeTableColumns.TITLE_EN">
				<mat-header-cell
					mat-sort-header="titleEnglish"
					class="anime-table__item anime-table__item--textColor"
					*matHeaderCellDef
				>
					{{ animeTableColumns.TITLE_EN }}
				</mat-header-cell>
				<mat-cell class="anime-table__item anime-table__item--textColor" *matCellDef="let element">
					{{ element.titleEnglish | TransferEmpty }}
				</mat-cell>
			</ng-container>

			<ng-container [matColumnDef]="animeTableColumns.TITLE_JPN">
				<mat-header-cell *matHeaderCellDef> {{ animeTableColumns.TITLE_JPN }} </mat-header-cell>
				<mat-cell class="anime-table__item anime-table__item--textColor" *matCellDef="let element">
					{{ element.titleJapan | TransferEmpty }}
				</mat-cell>
			</ng-container>

			<ng-container [matColumnDef]="animeTableColumns.AIRED_START">
				<mat-header-cell mat-sort-header="aired" *matHeaderCellDef> {{ animeTableColumns.TITLE_JPN }}</mat-header-cell>
				<mat-cell class="anime-table__item anime-table__item--textColor" *matCellDef="let element">
					{{ element.aired.start | TransferEmpty }}
				</mat-cell>
			</ng-container>

			<ng-container [matColumnDef]="animeTableColumns.TYPE">
				<mat-header-cell *matHeaderCellDef> {{ animeTableColumns.TYPE }}</mat-header-cell>
				<mat-cell class="anime-table__item anime-table__item--textColor" *matCellDef="let element">
					{{ element.type | TransferEmpty }}
				</mat-cell>
			</ng-container>

			<ng-container [matColumnDef]="animeTableColumns.STATUS">
				<mat-header-cell
					mat-sort-header="status"
					class="anime-table__item anime-table__item--textColor"
					*matHeaderCellDef
				>
					{{ animeTableColumns.STATUS }}
				</mat-header-cell>
				<mat-cell class="anime-table__item anime-table__item--textColor" *matCellDef="let element">
					<span>{{ element.status | TransferEmpty }}</span>
				</mat-cell>
			</ng-container>

			<mat-header-row class="anime-table__header-row" *matHeaderRowDef="animeTableColumnsArray"></mat-header-row>
			<mat-row class="anime-table__row" *matRowDef="let row; columns: animeTableColumnsArray"></mat-row>
		</table>
	</div>
	}
</div>
