.anime-table-container {
	margin: var(--spacing-3xl) var(--spacing-3xl);
}

.anime-table-wrapper {
	width: 100%;
	height: 150px;
	background-color: inherit;
	border-spacing: 0 8px;
	gap: var(--spacing-md);
}

.anime-table__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.anime-table__item {
	padding: var(--spacing-md);
	display: flex;
	align-items: center;
	height: 100%;
}

.anime-table__item--textColor {
	color: white;
}

.table__item-image {
	width: 150px;
	height: 150px;
	object-fit: contain;
	margin-right: var(--spacing-sm);
}

.table__image-container {
	width: 150px;
}

.anime-table__row {
	border-bottom: 2px solid #ffa600;
	border-top: 2px solid #ffa600;
	border-left: 2px solid #ffa600;
	border-right: 2px solid #ffa600;
	margin-bottom: var(--spacing-md);
}

.anime-table__header-row {
	border-bottom: 2px solid white;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
	margin-bottom: var(--spacing-md);
	background: #79a1d8;
}

.anime-table__paginator {
	height: fit-content;
}
