<div class="anime-table">
	<ng-container
		*ngIf="{
			isLoading: isLoading$ | async,
			animeList: (animeListPagination$ | async),
			filterQueryParams: filter$ | async
		} as data">
		<div class="anime-table__header">
			<camp-search (searchChanged)="onSearchChange($event)" [search]="data.filterQueryParams?.search ?? ''" />
			<camp-filter-type
				(typeChange)="onSelectChange($event)"
				[selectedTypes]="data.filterQueryParams?.type ?? null"
				class="anime-table__filter-type"/>
			<mat-paginator
				class="anime-table__paginator"
				[pageSizeOptions]="PAGE_SIZE_OPTIONS"
				[pageSize]="data.filterQueryParams?.pageSize"
				[pageIndex]="data.filterQueryParams?.pageNumber"
				[length]="data.animeList?.totalCount"
				(page)="onPaginationChange($event)"/>
		</div>
		<table
			mat-table
			matSort
			matSortDisableClear
			(matSortChange)="onSortChange($event)"
			[dataSource]="data.animeList?.items ?? createSkeletonAnimeSource()"
			class="anime-table-content">
			<ng-container [matColumnDef]="animeTableColumns.Image">
				<mat-header-cell class="anime-table-content__item anime-table-content__item--textColor-white" *matHeaderCellDef>
					Image
				</mat-header-cell>
				<mat-cell
					class="anime-table-content__item anime-table-content__item--textColor-white"
					*matCellDef="let element">
					<camp-skeleton-cell [isLoading]="data.isLoading">
						<div>
							<img [src]="element.imageUrl" alt="{{ element.titleJapan }}" class="table__item-image" />
						</div>
					</camp-skeleton-cell>
				</mat-cell>
			</ng-container>
			<ng-container [matColumnDef]="animeTableColumns.TitleEnglish">
				<mat-header-cell
					mat-sort-header
					class="anime-table-content__item anime-table-content__item--textColor-white"
					*matHeaderCellDef>
					{{ animeTableColumns.TitleEnglish }}
				</mat-header-cell>
				<mat-cell class="anime-table-content__item--textColor-white" *matCellDef="let element">
					<camp-skeleton-cell [isLoading]="data.isLoading">
						{{ element.titleEnglish | appNullable }}
					</camp-skeleton-cell>
				</mat-cell>
			</ng-container>
			<ng-container [matColumnDef]="animeTableColumns.TitleJapanese">
				<mat-header-cell *matHeaderCellDef class="anime-table-content__item anime-table-content__item--textColor-white">
					{{ animeTableColumns.TitleJapanese }}
				</mat-header-cell>
				<mat-cell class="anime-table-content__item--textColor-white" *matCellDef="let element">
					<camp-skeleton-cell [isLoading]="data.isLoading">
						{{ element.titleJapan | appNullable }}
					</camp-skeleton-cell>
				</mat-cell>
			</ng-container>
			<ng-container [matColumnDef]="animeTableColumns.AiredStart">
				<mat-header-cell
					mat-sort-header
					*matHeaderCellDef
					class="anime-table-content__item anime-table-content__item--textColor-white">
					{{ animeTableColumns.AiredStart }}</mat-header-cell>
				<mat-cell class="anime-table-content__item--textColor-white" *matCellDef="let element">
					<camp-skeleton-cell [isLoading]="data.isLoading">
						{{ element?.aired?.start | date : "M-d-yyyy" | appNullable }}
					</camp-skeleton-cell>
				</mat-cell>
			</ng-container>
			<ng-container [matColumnDef]="animeTableColumns.Type">
				<mat-header-cell *matHeaderCellDef class="anime-table-content__item anime-table-content__item--textColor-white">
					{{ animeTableColumns.Type }}</mat-header-cell>
				<mat-cell class="anime-table-content__item--textColor-white" *matCellDef="let element">
					<camp-skeleton-cell [isLoading]="data.isLoading">
						{{ element.type | appNullable }}
					</camp-skeleton-cell>
				</mat-cell>
			</ng-container>
			<ng-container [matColumnDef]="animeTableColumns.Status">
				<mat-header-cell
					mat-sort-header
					class="anime-table-content__item anime-table-content__item--textColor-white"
					*matHeaderCellDef>
					{{ animeTableColumns.Status }}
				</mat-header-cell>
				<mat-cell class="anime-table-content__item--textColor-white" *matCellDef="let element">
					<camp-skeleton-cell [isLoading]="data.isLoading">
						<span>{{ element.status | appNullable }}</span>
					</camp-skeleton-cell>
				</mat-cell>
			</ng-container>
			<mat-header-row class="anime-table__header-row" *matHeaderRowDef="animeTableColumnsArray"></mat-header-row>
			<mat-row class="anime-table__row" *matRowDef="let row; columns: animeTableColumnsArray"></mat-row>
		</table>
	</ng-container>
</div>
