:root {
	/* color */
	--primary-color: rgba(255 255 255 / 100%);
	--on-surface-color: rgba(0 0 0 / 100%);
	--border-color: rgba(0 0 0 / 15%);
	--surface-overlay-color: rgba(0 0 0 / 5%);
	--on-primary-color: rgba(241 89 36 / 100%);
	--bg-color: rgba(244 244 244);
	--shadow-color: rgba(74 74 79);
	--light-pink-color: rgba(255 230 230);

	/* height */
	--height-main-header: 64px;
	--height-main-footer: 128px;

	/* space */
	--spacing-sm: 8px;
	--spacing-md: 16px;
	--spacing-lg: 24px;
	--spacing-xl: 32px;
	--spacing-2xl: 40px;
	--spacing-3xl: 72px;

	/* font size */
	--font-size-sm: 8px;
	--font-size-md: 16px;
	--font-size-lg: 24px;
	--font-size-xl: 32px;
	--font-size-2xl: 40px;

	/* screen size */
	--screen-size-sm: 360px;
	--screen-size-md: 786px;
	--screen-size-lg: 1280px;
}
