@import url("../../global/index.css");

.title {
	color: var(--heading-color-1);
}

.header {
	justify-content: center;
	height: var(--height-main-header);
	display: flex;
	flex-direction: column;
}

.header__title {
	font-size: var(--font-size-lg);
}

.content {
	padding: 0 var(--spacing-lg);
}

.content::-webkit-scrollbar {
	display: none;
}

.section__year {
	margin-bottom: var(--spacing-2xl);
	font-size: var(--font-size-md);
	position: sticky;
	top: 0;
	font-weight: 600;
	background-color: var(--primary-color);
	padding: var(--spacing-md) 0;
}

.main {
	height: calc(100vh - var(--height-main-header) - var(--height-main-footer) - 2 * var(--spacing-md));
}

.article__title {
	font-size: var(--font-size-md);

	/* limit the line of title: 2 row  */
	/* stylelint-disable-next-line value-no-vendor-prefix */
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: var(--spacing-lg);
	min-height: calc(2 * var(--spacing-lg));
}

.section {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-2xl);
	overflow-y: auto;
}

.section__group {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	gap: var(--spacing-md);
	max-width: 100%;
}

.section__group--padding {
	padding: 0;
}

.group__item {
	list-style-type: none;
}

.article {
	max-width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

.article__img {
	max-width: 100%;
	height: 100%;
	border-radius: var(--spacing-lg);
}

.filters {
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-lg);
}

.filters__wrapper {
	gap: var(--spacing-lg);
}

.filters__title {
	font-size: medium;
	font-weight: bold;
}

.filters__search {
	position: relative;
	width: auto;
	font-weight: 300;
	height: 40px;
	border-radius: 12px;
	background: var(--surface-overlay-color);
	font-size: medium;
	overflow: hidden;
}

.filters__select {
	color: var(--border-color);
	font-size: medium;
	font-weight: 300;
	position: relative;
	height: 40px;
	width: 100%;
	border-radius: 12px;
	background: var(--surface-overlay-color);
	transition: all 0.3s ease;
	border: none;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-appearance: none;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-moz-appearance: none;
	padding: var(--spacing-sm) var(--spacing-sm);
	appearance: none;
	background-image: url("icons/arrow.svg");
	background-repeat: no-repeat;
	background-position: right 0.7rem top 50%;
	background-size: 16px 16px;
}

.divider {
	color: var(--border-color);
}

.filters__search-input {
	position: absolute;
	top: 10px;
	left: 38px;
	font-size: 14px;
	background: none;
	width: 100%;
	height: 20px;
	border: none;
	appearance: none;
	outline: none;

	&::-webkit-search-cancel-button {
		appearance: none;
	}
}

.filters__search-button {
	position: absolute;
	top: 10px;
	left: 15px;
	height: 20px;
	width: 20px;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	cursor: pointer;

	& svg {
		width: 20px;
		height: 20px;
		fill: var(--on-surface-color);
	}
}

.divider--hide {
	display: visible;
}

.filters__checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.filters__checkbox-text {
	font-size: small;
}

.footer__link {
	margin-left: auto;
}

.footer {
	display: flex;
	font-size: medium;
	padding: var(--spacing-lg) 0;
	flex-direction: column;
	gap: var(--spacing-lg);
}

.footer__copyright {
	display: flex;
	gap: var(--spacing-lg);
}

.footer__info {
	gap: var(--spacing-sm);
}

.footer__go-to-top {
	margin-left: auto;
	color: var(--on-surface-color);
	text-decoration: none;
	text-decoration-color: none;
}

.footer__link-a {
	color: var(--on-surface-color);
	text-decoration: underline;
}

.filters__checkbox-wrapper label {
	font-size: 1.35em;
}

.filters__checkbox-input {
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-appearance: none;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-moz-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	/* stylelint-disable-next-line property-no-unknown */
	border-raudis: 4px;
	font: inherit;
	border: 0.12em solid var(--border-color);
	margin-bottom: -0.125em;
	border-radius: 0.25em;
}

.filters__checkbox-input:checked {
	border-color: var(--on-primary-color);
	background: var(--on-primary-color) border-box;
	box-shadow: 0 0 0 0.1em inset var(--primary-color);
}

@media (min-width: 360px) {
	.main--reverse {
		display: flex;
		flex-direction: column-reverse;
	}

	.filters__wrapper {
		display: flex;
		flex-direction: column;
	}
}

@media (min-width: 786px) {
	.footer {
		display: flex;
		flex-direction: row;
	}

	.filters {
		gap: var(--spacing-lg);
	}

	.filters__wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: var(--spacing-lg);
	}

	.filters__search {
		width: 100%;
		height: 40px;
		border-radius: 15px;
	}

	.filters__checkbox {
		width: 100%;
	}
}

@media (min-width: 1280px) {
	.divider--hide {
		display: none;
	}

	.filters__wrapper {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-lg);
	}

	.main {
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: var(--spacing-lg);
		width: 100%;
	}
}
